body {
  font-family: 'Gotham Pro';
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 1328px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
}

.container-flex {
  justify-content: space-between;
}

.top-header {
  display: flex;
  justify-content: space-between;
}

.top-header-left {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 13px;
  display: flex;
  align-items: center;
}

ul.bottom-header li {
  display: block;
}

.main-section {
  height: 100vh;
}

.main-section-image img {
  max-width: 100%;
  height: auto;
}

.main-images {
  position: relative;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-section-image {
  position: relative;
}

.main-section-text {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  padding-left: 100px;
}

/* START Swiper Recomendation */

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-wrapper {
  padding: 50px 0;
}

.swiper-container-head {
  text-align: center;
}

.swiper-container-head-title h2 {
  font-size: 32px;
}

.swiper-container-head-title a {
  color: #A38452;
  text-decoration: underline;
}

.flex-card {
  display: flex;
  flex-direction: column;
}

.swiper-scrollbar {
  background: rgba(205, 187, 159, 0.2)!important;
}

.swiper-scrollbar-drag {
  background: #A38452!important;
}

.swiper-container-horizontal>.swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 100%!important;
}

/* END Swiper Recomendation */